@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url('../fonts/fonter.am_montserrat-armenian/Montserratarm-Regular.otf');
}
body{
    font-family: Montserrat;
}
html{
    scroll-behavior: smooth;
}
.link{
    color:aqua
}
.content{
    margin: auto;
    margin-top: -120px;
}
.contentData::-webkit-scrollbar {
    display: none;
  }